accelerate==1.7.0
aiogram==3.20.0.post0
aiosqlite==0.21.0
backports.tarfile==1.2.0
bitsandbytes==0.45.5
importlib-metadata==8.0.0
jaraco.collections==5.1.0
pip-chill==1.0.3
platformdirs==4.2.2
python-dotenv==1.1.0
tomli==2.0.1
torchaudio==2.7.0+cu128
torchvision==0.22.0+cu128
transformers==4.52.3
